<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9PLgQ8jQ-9GVQh8084J9bWra0_ch34I4Z1MgfaB7fg&s" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">HP Laptop</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique arcu nec diam varius, ut aliquet justo congue.</p>
          <p class="price">$99.99</p>
          <button class="btn btn-primary btn-block">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

</div>
