<footer class="footer mt-auto pt-5 pb-3 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <h5 class="mb-4">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Home</a></li>
          <li><a href="#" class="text-light">Shop</a></li>
          <li><a href="#" class="text-light">Categories</a></li>
          <li><a href="#" class="text-light">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <h5 class="mb-4">Contact Information</h5>
        <p>123 Main Street, City, Country</p>
        <p>Email: info@example.com</p>
        <p>Phone: +1234567890</p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h5 class="mb-4">Follow Us</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#" class="text-light"><i class="ri-facebook-fill"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-light"><i class="ri-instagram-line"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-light"><i class="ri-linkedin-line"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-light"><i class="ri-twitter-line"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
